.navbar {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 50px 0;
  border: 3px solid #ccd5ff;
}
.brand {
  font-weight: bold;
  text-decoration: none;
  padding: 10% 10% 10% 10%;
}

.brand:hover {
  text-decoration: none;
}

.links {
  flex-grow: 1;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
}

.navlink {
  width: 6rem;
  padding: 12px 10px 10px;
  text-shadow: none;
  text-decoration: none;
  position: relative;
  z-index: 1;
  display: block;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

.navlink:hover {
  text-decoration: none;
  color: #004fff;
}
.navlink:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #31afd4;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.navlink:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.navlink,
.navlink:after,
.navlink:before {
  transition: all 0.5s;
}

.cart .btn-outline-primary:hover {
  background-color: #31afd4;
}

.active-cart .btn-outline-primary {
  background-color: #31afd4;
  color: white;
}
