.App {
  text-align: center;
}

.amount {
  display: flex;
  justify-content: space-evenly;
}

.product-page .cart-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-card .cart-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-page .cart-container .in-cart {
  margin: auto;
}
